@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0;
    font-family: Roboto;
}

:root {
    --red: #F99494;
    --blue: #94CEF9;
    --green: #66DA64;
    --yellow: #F9D694;
    --purple: #9694F9;
}

h1,h2,h3,p {
    color: #ffffff;
    margin: 0 3rem;
    line-height: 1.2;
}

.button {
    border: none;
    outline: none;
    background: transparent;
}

.main {
    overflow: hidden;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}

.section img {
    width: 15vw;
    height: 15vw;
}

.section.active {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.info article {
    width: 90%;
    max-width: 1200px;
}

.section.calendar,
.section.notes,
.section.weather,
.section.game {
    margin-left: 110%;
}

.time {
    background-color: var(--red);
    z-index: 1;
}

.calendar {
    background-color: var(--blue);
    z-index: 2;
}

.notes {
    background-color: var(--green);
    z-index: 3;
}

.weather {
    background-color: var(--yellow);
    z-index: 4;
}

.game {
    background-color: var(--purple);
    z-index: 5;
}

.info {
    background-color: var(--red);
}



.header {
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 999;
}

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.footer nav ul .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    height: 85px;
    cursor: pointer;
    transition: 0.5s ease;
}
.footer nav {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}

.footer nav ul .menu-item p {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.footer nav ul .menu-item img {
    pointer-events: none;
}

.footer nav ul .menu-item.active p {
  opacity: 1;
  position: relative;
}

/* INFO PAGE - FLIP CARDS */

.section.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'wide wide wide wide' 'time date notes weather';
    padding: 0 10%;
    grid-auto-rows: 400px;
    gap: 3rem 0;
    justify-items: center;
    align-content: center;
}

.wide-text {
    grid-area: wide;
    width: 100% !important;
    padding: 2rem 0;
}

.flip-card {
    width: 100%;
    height: 250px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}

.flip-card.time {
    grid-area: time;
}

.flip-card.calendar {
    grid-area: date;
}

.flip-card.notes {
    grid-area: notes;
}

.flip-card.weather {
    grid-area: weather;
}

.flip-card img {
    object-fit: cover;
    width: unset;
    height: unset;
}

.front-face {
    height: inherit;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0,5s ease;
    pointer-events: none;
    user-select: none;
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
    overflow: hidden;
}

.back-face {
    height: inherit;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    pointer-events: none;
    user-select: none;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    z-index: 1;
}

.back-face p {
    transition: 0.3s ease;
    margin: 0 1rem;
}

.flip .back-face p {
    position: relative;
    transform: rotateY(0);
}

.flip {
    transform: rotatey(180deg);
    transform-style: preserve-3d;
    transition: 0.5s;
}

/* MOBILE */
@media screen and (max-width: 550px) {
    body,html,main {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .section {
        min-height: 100vh;
        height: 100%;
    }

    h1 {
        font-size: 30vw;
        margin: 0;
    }
    h2 {
        font-size: 11vw;
        margin: 0;
    }
    h3 {
        font-size: 1rem;
        margin: 1rem 0;
        font-weight: normal;
    }
    p {
        margin: 0;
    }
    .text-block {
        max-width: 85%;
    }
    img {
        width: 30px;
        height: 30px;
    }
    .section img {
        display: none;
    }
    .section.info {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'wide' 'time' 'date' 'notes' 'weather';
        grid-auto-rows: 270px;
        position: relative;
        padding: 25% 3%;
    }
}

/* TABLET */
@media screen and (min-width: 501px) and (max-width: 1250px) {
    .section.info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'wide wide' 'time date' 'notes weather';
        grid-auto-rows: 270px;
    }
    h1 {
        font-size: 22vw;
    }
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 1rem;
        margin: 0.6rem 3rem;
        font-weight: normal;
    }
    .text-block {
        max-width: 70%;
    }
    .section img {
        width: 150px;
        height: 150px;
    }
    .section.info img {
        width: unset;
        height: unset;
    }
    img {
        width: 30px;
        height: 30px;
    }
    /* .wide-text {
        grid-column-start: 1;
        grid-column-end: 4;
    } */
}

/* DESKTOP */
@media screen and (min-width: 901px) {
    h1 {
        font-size: 15vw;
    }
    h2 {
        font-size: 4.5vw;
    }
    .info h2 {
        font-size: 2.8vw;
    }
    h3 {
        font-size: 1.8vw;
    }
    img {
        width: 50px;
        height: 50px;
    }
    .text-block {
        max-width: 75%;
    }
    .footer {
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
        width: auto;
        height: 100%;
    }
    .footer nav {
        height: 100%;
    }
    .footer nav ul {
        flex-direction: column;
        height: 100%;
    }
    .footer nav ul .menu-item {
        width: 85px;
        height: 20%;
    }
}